<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}{% endblock %}</title>
    <script src="{{url_for('static', filename='morphdom-esm.js')}}"></script>
    <script src="{{url_for('static', filename='morphdom-umd.js')}}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/turbolinks/5.2.0/turbolinks.js"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='index.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='base.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='admin.css')}}" />
    {{ pylivewire.scripts()|safe }}
    <script type="module" src="{{url_for('static', filename='pylivewire.js')}}" defer></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet"
        id="bootstrap-css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
</head>

<body>
    {% block content %}{% endblock %}
    <!-- <script src="{{url_for('static', filename='component.js')}}" defer></script> -->
</body>

</html>