<section class="todoapp" wire:init="say">
    <style>
        .bg-gray {
            background-color: gray;
        }
    </style>
    <div>
        <div wire:loading.class.add="bg-gray">
            Grayed when loading
        </div>
        <br />
        <div class="bg-gray" wire:loading.class.remove="bg-gray">
            grayed when loaded
        </div>
        <br />
        <div wire:loading>
            Shown when loading
        </div>
        <br />
        <div wire:loading.remove>
            Shown when loaded
        </div>
        <br />

        <div wire:loading.attr.add="hidden">
            Unhidden when loaded
        </div>
        <br />
        <div hidden wire:loading.attr.remove="hidden">
            Unhidden when loading
        </div>
    </div>
    <div wire:offline>
        Hello world
    </div>
    <div>
        <label for="upload">
            <img style="width:50px;height:50px" src="{{ avatarURL }}?rand={{ now() }}" />
            <input wire:model="photo" type="file" id="upload" style="display:none">
        </label>
    </div>

    <header class="header">
        <h1>todos {{ title_suffix }} </h1>
        <input wire:click.prefetch="toggle_title" class="new-todo" placeholder="What needs to be done?"
            wire:model.debounce.3000="toadd" wire:keydown.enter.prevent.stop="add_item" autofocus>
        {% if 'toadd' in errors %}
        <span style='color:red;font-size:13;'>* {{errors['toadd'][0]}}</span>
        {% endif %}
    </header>
    <section class="main" {{'style="display: none;"'|safe if empty}}>
        <input id="toggle-all" class="toggle-all" type="checkbox" wire:click="toggle_all">
        <label for="toggle-all">Mark all as complete</label>
        <ul class="todo-list">
            {% for i in range(items|length) %}
            {{ pylivewirecaller("Item", toggled=toggled[i], filter=filter, text=items[i], key=items_id[i])|safe }}
            {% endfor %}
        </ul>
    </section>
    <footer class="footer" {{'style="display: none;"'|safe if empty}}>
        <span class="todo-count">
            <strong>{{count}}</strong> items left
        </span>
        <ul class="filters">
            <li>
                <a href="#/" class="{{ 'selected' if filter == None }}"
                    wire:click.prevent="$set('filter', 'all')">All</a>
            </li>
            <li>
                <a href="#/active" class="{{ 'selected' if filter == False }}"
                    wire:click.prevent="$set('filter', 'active')">Active</a>
            </li>
            <li>
                <a href="#/completed" class="{{ 'selected' if filter == True }}"
                    wire:click.prevent="$set('filter', 'completed')">Completed</a>
            </li>
        </ul>
        <button class="clear-completed" wire:click="clear_completed">Clear completed</button>
    </footer>
    </footer>
</section>