<html>
    <head>
        <script src="https://rawcdn.githack.com/OmarElawady/pylivewire/37d7abb4bfab9d84513fe971587910cabd1f24a9/scripts/morphdom-esm.js"></script>
        <script src="https://rawcdn.githack.com/OmarElawady/pylivewire/37d7abb4bfab9d84513fe971587910cabd1f24a9/scripts/morphdom-umd.js"></script>
        <script type="module" src="https://rawcdn.githack.com/OmarElawady/pylivewire/37d7abb4bfab9d84513fe971587910cabd1f24a9/scripts/pylivewire.js" defer></script>
        {{ pylivewire.scripts()|safe }}
    </head>
    <body>
        {{ pylivewirecaller('HelloWorld')|safe}}
    </body>
</html>